<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Return Books</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h2>Return Books</h2>
<table>
    <thead>
    <tr>
        <th>User</th>
        <th>Book</th>
        <th>Rental Start Date</th>
        <th>Return Deadline</th>
        <th>Overdue?</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${activeRentals}">
        <td th:text="${booking.user.username}"></td>
        <td th:text="${booking.book.title}"></td>
        <td th:text="${#temporals.format(booking.rentStartDate, 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(booking.rentEndDate, 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${booking.rentEndDate.isBefore(T(java.time.LocalDateTime).now()) ? 'Yes' : 'No'}"></td>
        <td>
            <form th:action="@{/moderator/rental/user/{userId}/book_return/booking{bookingId}/confirm(userId=${b.user.id}, bookingId=${b.id})}"
                  method="post">
                <button type="submit">Confirm Return</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/moderator/moderator_panel}">Back</a>
</body>
</html>