<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Возврат книг</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h2>Возврат книг</h2>
<table>
    <thead>
    <tr>
        <th>Пользователь</th>
        <th>Книга</th>
        <th>Дата начала аренды</th>
        <th>Срок возврата</th>
        <th>Просрочена?</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${activeRentals}">
        <td th:text="${booking.user.username}"></td>
        <td th:text="${booking.book.title}"></td>
        <td th:text="${#temporals.format(booking.rentStartDate, 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(booking.rentEndDate, 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${booking.rentEndDate.isBefore(T(java.time.LocalDateTime).now()) ? 'Да' : 'Нет'}"></td>
        <td>
            <form th:action="@{/moderator/rental/user/{userId}/book_return/booking{bookingId}/confirm(userId=${b.user.id}, bookingId=${b.id})}" method="post">
                <button type="submit">Подтвердить возврат</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/moderator/moderator_panel}">Назад</a>
</body>
</html>