<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Moderator Issue Books</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<form th:action="@{/moderator/user/{userId}(userId=${userId})}" method="get" style="display:inline;">
  <button type="submit">Back</button>
</form>

<form th:action="@{/}" method="get" style="display:inline;">
  <button type="submit">Main Page</button>
</form>

<form th:action="@{/moderator/moderator_panel}" method="get" style="display:inline;">
  <button type="submit">Moderator Panel</button>
</form>

<h2 th:text="'Issue Books to User: ' + ${username}">Issue Books to User:</h2>

<h1>Book List</h1>

<!-- Search -->
<form th:action="@{/moderator/rental/user/{userId}/book_issue_list(userId=${userId})}"
      method="get">
  <input type="text" name="search" placeholder="Search by Title or Author" th:value="${search}" />
  <button type="submit">Search</button>
</form>

<!-- Messages -->
<p th:if="${message}" th:text="${message}" class="success"></p>
<p th:if="${error}" th:text="${error}" class="error"></p>

<table>
  <thead>
  <tr><th>Title</th><th>Author</th><th>Action</th></tr>
  </thead>
  <tbody>
  <tr th:each="book : ${books}">
    <td><a th:href="@{'/moderator/book/' + ${book.id}}" th:text="${book.title}">Book</a></td>
    <td th:text="${book.author}">Author</td>
    <td>
      <div th:if="${book.available}">
        <form th:action="@{/moderator/rental/user/{userId}/book_issue_list/book/{id}/issue_confirm(userId=${userId}, id=${book.id})}"
              method="post">
          <input type="hidden" name="search" th:value="${search}" />
          <button type="submit">Issue Book</button>
        </form>
      </div>
      <span th:if="${!book.available}">Unavailable</span>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>