<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

<form th:action="@{/}" method="get" style="display: inline;">
    <button type="submit" class="btn">Main Page</button>
</form>

<form th:action="@{/user/user_panel}" method="get" style="display: inline;">
    <button type="submit" class="btn">User Panel</button>
</form>

<h1>Books in the Library</h1>

<form th:action="@{/catalog/books}" method="get">
    <input type="text" name="query" placeholder="Title or Author" th:value="${param.query}" />
    <button type="submit" class="btn">Search</button>
</form>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book, iterStat : ${books}">
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.available ? 'Available' : 'Unavailable'}"></td>
        <td>
            <form th:if="${#authorization.expression('isAuthenticated()') and book.available and !isBlocked}"
                  th:action="@{'/user/booking/book/' + ${book.id} + '/reserve'}"
                  method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="btn">Reserve</button>
            </form>

            <form th:if="${#authorization.expression('!isAuthenticated()') and book.available}"
                  th:action="@{/login}" method="get">
                <button type="submit" class="btn">Reserve</button>
            </form>
            <span th:if="${messages != null and messages[book.id] != null}"
                  th:text="${messages[book.id]}"
                  th:classappend="${messageTypes[book.id]} == 'success' ? ' success-message' : ' error-message'">
                </span>

            <span th:if="${isBlocked and #authorization.expression('isAuthenticated()') and book.available}"
                  class="error-message">
    You are blocked and cannot reserve books
</span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>