<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Moderator Panel</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1>Welcome to the Moderator Panel</h1>

<div style="margin-bottom: 20px;" sec:authorize="hasAnyAuthority('MODERATOR','ADMIN')">
    <form th:action="@{/}" method="get">
        <button type="submit" class="btn">Main Page</button>
    </form>
  <form th:action="@{/moderator/book/book_list}" method="get">
    <button type="submit" class="btn">Book Operations</button>
  </form>
  <form th:action="@{/moderator/user/user_list}" method="get">
    <button type="submit" class="btn">Users and Reservations</button>
  </form>
    <form th:action="@{/logout}" method="post" style="display: inline;">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>

</body>
</html>