<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>List of users</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<form th:action="@{/admin/admin_panel}" method="get"><button type="submit">Back to Admin Panel</button></form>
<form th:action="@{/}" method="get"><button type="submit">Main Page</button></form>

<h1>List of users</h1>

<h2>Search User</h2>
<form method="get" th:action="@{/admin/user/admin_user_list}">
  <input type="text" name="username" placeholder="Username" th:value="${username}" />
  <button type="submit" class="btn">Find</button>
</form>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Логин</th>
    <th>Роль</th>
    <th>Заблокирован</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.role}"></td>
    <td th:text="${user.blocked} ? 'Yes' : 'No'"></td>
    <td>
      <form th:action="@{/admin/user/admin_user_list/user/{userId}/delete(userId=${user.id})}"
            method="post" th:if="${user.username != 'admin'}">
        <button type="submit">Delete</button>
      </form>
      <form th:action="@{/admin/user/admin_user_list/user/{userId}promote(userId=${user.id})}"
            method="post" th:if="${user.role.name() == 'USER'}">
        <button type="submit">Promote to Moderator</button>
      </form>
      <form th:action="@{/admin/user/admin_user_list/user/{userId}/demote/(userId=${user.id})}"
            method="post" th:if="${user.role.name() == 'MODERATOR'}">
        <button type="submit">Demote to User</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<br>

</body>
</html>