<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="'Book: ' + ${book.title}">Book Details</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<form th:action="@{/}" method="get" style="display: inline;">
  <button type="submit" class="btn">Main Page</button>
</form>

<form th:action="@{/moderator/moderator_panel}" method="get" sec:authorize="hasAnyAuthority('MODERATOR','ADMIN')">
  <button type="submit">Moderator Panel</button>
</form>

<h1 th:text="${book.title}">Book Title</h1>

<p><strong>Author:</strong> <span th:text="${book.author}">Author Name</span></p>
<p><strong>Description:</strong> <span th:text="${book.description}">Book Description</span></p>

<div style="margin-top: 20px;">
  <form th:action="@{/moderator/book/edit/{id}(id=${book.id})}" method="get" style="display:inline;">
    <button type="submit" class="btn">Edit</button>
  </form>

  <form th:action="@{/moderator/book/delete/{id}(id=${book.id})}"
        method="post"
        onsubmit="return confirm('Are you sure you want to delete this book?');" style="display:inline;">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>

  <form th:action="@{/moderator/book/book_list}" method="get" style="display:inline;">
    <button type="submit" class="btn">Back to List</button>
  </form>
</div>

</body>
</html>