<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Добавить книгу</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<form th:action="@{/}" method="get" style="display: inline;">
  <button type="submit" class="btn">На главную</button>
</form>

<form th:action="@{/moderator/moderator_panel}" method="get" sec:authorize="hasAnyAuthority('MODERATOR','ADMIN')">
  <button type="submit">Кабинет модератора</button>
</form>

<h1>Добавление новой книги</h1>

<form th:action="@{/moderator/book/add}" method="post">
  <label>Название:</label>
  <input type="text" name="title" required /><br>

  <label>Автор:</label>
  <input type="text" name="author" required /><br>

  <label>Описание:</label>
  <textarea name="description" required></textarea><br>

  <button type="submit" class="btn">Добавить</button>
</form>

<form th:action="@{/moderator/book/book_list}" method="get" style="margin-top: 10px;">
  <button type="submit" class="btn">Назад к списку</button>
</form>

</body>
</html>