<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Add Book</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<form th:action="@{/}" method="get" style="display: inline;">
  <button type="submit" class="btn">Main Page</button>
</form>

<form th:action="@{/moderator/moderator_panel}" method="get" sec:authorize="hasAnyAuthority('MODERATOR','ADMIN')">
  <button type="submit">Moderator Panel</button>
</form>

<h1>Add a New Book</h1>

<form th:action="@{/moderator/book/add}" method="post">
  <label>Title:</label>
  <input type="text" name="title" required /><br>

  <label>Author:</label>
  <input type="text" name="author" required /><br>

  <label>Description:</label>
  <textarea name="description" required></textarea><br>

  <button type="submit" class="btn">Add</button>
</form>

<form th:action="@{/moderator/book/book_list}" method="get" style="margin-top: 10px;">
  <button type="submit" class="btn">Back to List</button>
</form>

</body>
</html>