<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Админ панель</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<!--<div sec:authorize="hasAuthority('ADMIN')">-->
<!--    <a th:href="@{/admin}">Админ-панель</a>-->
<!--</div>-->
<div id="welcome-section">
<h1>Добро пожаловать в админ-панель</h1>
</div>

<div id="button-container">
    <form th:action="@{/}" method="get"><button type="submit">На главную</button></form>

    <form th:action="@{/user/user_panel}" method="get" sec:authorize="hasAnyAuthority('USER','MODERATOR','ADMIN')">
        <button type="submit">Кабинет пользователя</button>
    </form>

    <form th:action="@{/moderator/moderator_panel}" method="get" sec:authorize="hasAnyAuthority('MODERATOR','ADMIN')">
        <button type="submit">Кабинет модератора</button>
    </form>

    <form th:action="@{/admin/user/admin_user_list}" method="get" sec:authorize="hasAuthority('ADMIN')">
        <button type="submit">Список пользователей</button>
    </form>

    <form th:action="@{/logout}" method="get"><button type="submit">Выйти</button></form>
</div>

</body>
</html>